<div class="container">
    <div>
        <h2 class="h2">All Professors' Details</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Mobile</th>
                    <th clas="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of Books; let i = index">
                    <th scope="row">{{book._id}}</th>
                    <td>{{book.name}}</td>
                    <td>{{book.email}}</td>
                    <td>{{book.dept}}</td>
                    <td>{{book.mobile}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary mr-3" routerLink="/edit-book/{{book._id}}">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>