<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./view-all.component.css">
</head>

<body>
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Faculty of SOCSE </h2>
            </div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/1.jpg)">
                        <div class="cover">
                            <h3 class="name">Dr. Meena S. Maralappanavar</h3>
                            <p class="title">Professor & Head of SOCSE</p>
                            <div class="social"><a href="https://www.facebook.com/"><i
                                        class="fa fa-facebook-official"></i></a><a href="https://twitter.com/"><i
                                        class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/meena-m-maralappanavar-ab835223/"><i
                                        class="fa fa-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/2.jpg)">
                        <div class="cover">
                            <h3 class="name">Dr. Satyadhyan Chickerur</h3>
                            <p class="title">Professor</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/chickerursr/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/7.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Dr. Narayan D G</h3>
                            <p class="title">Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/narayan-d-g-658a7153/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/8.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Dr. G S Hanchinamani</h3>
                            <p class="title">Assc. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/9.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Dr.Jayalaxmi G N</h3>
                            <p class="title">Assc. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/10.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Dr.Padmashree Desai</h3>
                            <p class="title"> Assc. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/11.jpg)">
                        <div class="cover">
                            <h3 class="name">	
                                Ms. Nagaratna D Kulenavar</h3>
                            <p class="title">Asst. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/12.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Mr. Parikshit Hegde</h3>
                            <p class="title"> Assc. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/5.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Mr. Prakash Hegade</h3>
                            <p class="title">Asst. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/13.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Ms. Indira Bidari</h3>
                            <p class="title">Asst. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/3.jpg)">
                        <div class="cover">
                            <h3 class="name">Ms. Manjula Pawar</h3>
                            <p class="title">Asst. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(assets/4.jpg)">
                        <div class="cover">
                            <h3 class="name">
                                Mr. Uday Kulkarni</h3>
                            <p class="title">Asst. Prof</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>








            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>