<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand">PROFILE</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/books-list">Show Teacher</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-book">Add Teacher</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/view-all">View All Faculty</a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" routerLink="/achievement-list">Show Achievement</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-achievement">Add Achievement</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/publications-list">Show Publication</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-publication">Add Publication</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/contacts-list">Show Contacts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-contact">Add Contact</a>
      </li>
      
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/timetable">Time Table</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="">Logout Application</a>
      </li>
    </ul>
  </div>
  <div class="animation start-home"></div> 
</nav>

  <div class="jumbotron jumbotron-fluid">
    
    <div class="row">
      <div class="column">
        <div class="container">
          <img src="/assets/logo.png" height="90px" width="300px"> 
          <!-- <img src="assets/1.webp" height="247px" width="300px"> -->
        </div>
      </div>
    
      <div class="column">
        <div class="container">
         
          <h1 class="display-4">FACULTY PROFILE MANAGEMENT</h1>
          <p class="lead">Creating Value, Leveraging Knowledge</p>
        </div>
      </div>
      <!-- <div class="column">
        <div class="container">
          <style>
          background-image: url('/assets/cs.jpg');
           /* height="247px" width="300px" */
           </style>
          
        </div>
      </div> -->
    </div>
  </div>



<router-outlet></router-outlet>
